<html>
    <head>
        <meta charset="utf-8"><meta>
    </head>
    <body>
        <h1>Hello Node with NodeMon and Express Template</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Título</th>
            </tr>
            <tr for (livro in data.livros)>
                <td>${livro.id}</td>
                <td>${livro.titulo}</td>
            </tr>
        </table>
    </body>
</html>