<html>
    <body>
    <h1>Cadastro</h1>
    <form action="/livros/add" method="post" >

        <div if(data.livro.id)>
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="id" value="${data.livro.id}">
        </div>
        <div>
        <input type="text" name="titulo" id="titulo" placeholder="Informe o titulo" value="${data.livro.titulo}"/>
        </div>
        <div>
        <input type="text" name="valor" id="valor" placeholder="00.00" value="${data.livro.preco}"/>
        </div>

        <input type="submit"  value="Salvar" />
    </form>

    </body>
</html>
