<html>
    <body>
    <h1>Cadastro</h1>
    <form action="/livros/add" method="post" >

        <div>
        <input type="hidden" name="id" id="id" />
        </div>
        <div>
        <input type="text" name="titulo" id="titulo" placeholder="Informe o titulo"/>
        </div>
        <div>
        <input type="text" name="valor" id="valor" placeholder="00.00"/>
        </div>

        <input type="submit"  value="Salvar" />
    </form>

    </body>
</html>
