<html>
    <body>
    <h1>Cadastro</h1>
    <form action="/livros/add" method="post" >

        <input type="text" name="titulo" id="titulo" value="teste"/>

        <input type="submit"  value="Salvar" />
    </form>

    </body>
</html>
